<html lang="sk">
    <%- include('./partials/head.ejs') %>
</html>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="site-content">
        <h2>Všetky recepty</h2>
            <% if (recipes.length) { %>
                <ul class="recipes-list">
                    <% recipes.forEach(recipe => { %>
                        <%- include('./partials/recipe-card.ejs', {recipe: recipe}) %>
                    <% }) %>
                </ul>
            <% } else { %>
                <p>Nenašli sa žiadne recepty.</p>
            <% } %>
    </div>
    <% 
    const pagePrev = page - 1
    const pageNext = page + 1
    if (pagePrev >= 0) { %>
    <a class="page-prev" href="/recipes/?p=<%= pagePrev %>"><--</a>
    <% } %> 
    <a class="page-next" href="/recipes/?p=<%= pageNext %>">--></a>
    <%- include('./partials/footer.ejs') %>
</body>