<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="recipe content">
        <div class="single-top-left">
        <h2><%= recipe.title %></h2>
        <img class="recipe-cover-image" src="/img/cover/<%= recipe.image %>">
        </div>
        <div class="recipe-mats">
            <ul class="mats-list">
                <% recipe.mats.forEach(mat => { %>
                    <li class="mats-list-item"><%= mat %></li>
                <% }) %> 
            </ul>
        </div>
        <div class="recipe-instructions"><%= recipe.instructions %></div>
        <a class="delete" data-doc="<%= recipe._id %>">
            <img src="/img/trashcan.svg" alt="delete icon">
        </a>
    </div>

    <%- include('./partials/footer.ejs') %>

    <script>
        const trashcan = document.querySelector("a.delete");

        trashcan.addEventListener('click', (e) => {
            const endpoint = `/recipes/${trashcan.dataset.doc}`;

            fetch(endpoint, {
                method: 'DELETE'
            })
            .then((response) => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => console.log(err))
        })
    </script>
</body>

</html>